//script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
script(type='text/javascript', src='/javascripts/jquery.min.js')
script(type='text/javascript', src='/javascripts/jquery.timers-1.0.0.js')
script(type='text/javascript', src='/javascripts/cs-session.js')
script(type='text/javascript', src='/javascripts/jquery-linedtextarea.js')
link(rel='stylesheet', href='/stylesheets/jquery-linedtextarea.css')

div.session
	div.left
		#myScreenLabel
		#myScreenContent
			textarea#myText.lined(rows=20)
				#{myText}
		- if (!isCandidate)
			#myCommentsLabel Interview comments:
			textarea#myComments(rows=10)
				#{myComments}

	div.right
		#otherScreenLabel
		#otherScreenContent
			textarea#otherText(rows=20, readonly="readonly")
				#{otherText}
	- if (isDebug)
		#log.log


- if (isCandidate)
	script
		var baseUrl = '/candidate/session/#{session.id}';
		var lastUpdateTime = #{session.interviewerTextLastUpdateTime.getTime()};
		$('#myScreenLabel').html('Your screen (this is where you can type):');
		$('#otherScreenLabel').html('Interviewer screen:');
- else
	script
		var baseUrl = '/interviewer/session/#{session.id}';
		var lastUpdateTime = #{session.candidateTextLastUpdateTime.getTime()};
		$('#myScreenLabel').html('Interviewer:');
		$('#otherScreenLabel').html('Candidate:');

script
	//$("#myText").linedtextarea();

	var cs = new Codeshare(#{session.id}, baseUrl, lastUpdateTime);
	cs.setTexts(document.getElementById('myText'), document.getElementById('otherText'), document.getElementById('myComments'));
	cs.setLog( #{isDebug}?$('#log'):null );
	cs.start();

