//script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
script(type='text/javascript', src='/javascripts/jquery.min.js')
script(type='text/javascript', src='/javascripts/jquery.timers-1.0.0.js')
script(type='text/javascript', src='/javascripts/cs-session.js')

div.session
	div.left
		#myScreenLabel
		#myScreenContent
			textarea#myText(rows=20, onkeydown="cs.textarea_onkeydown(event)", onkeyup="cs.textarea_textChanged(event)")
				#{myText}
	div.right
		#otherScreenLabel
		#otherScreenContent
			textarea#otherText(rows=20, readonly="readonly")
				#{otherText}
	- if (isDebug)
		#log.log


- if (isCandidate)
	script
		var baseUrl = '/candidate/session/#{session.id}';
		var lastUpdateTime = #{session.interviewerTextLastUpdateTime.getTime()};
		$('#myScreenLabel').html('Your screen (this is where you can type):');
		$('#otherScreenLabel').html('Interviewer screen:');
- else
	script
		var baseUrl = '/interviewer/session/#{session.id}';
		var lastUpdateTime = #{session.candidateTextLastUpdateTime.getTime()};
		$('#myScreenLabel').html('Interviewer:');
		$('#otherScreenLabel').html('Candidate:');

script
	var cs = new Codeshare(#{session.id}, lastUpdateTime, baseUrl);

	if (#{isDebug})
		cs.enableLogging();

	cs.start();

