p
	u Edit User
br

form(method='post', action='/user/#{user._id}')
	input(type='hidden', name='_method', value='PUT')
	table(border=0,cellspacing=0,cellpadding=4)
		tr
			td Username:
			td #{user.username}
		tr
			td First name:
			td
				input(type='text',name='user[first_name]',value=user.first_name)
		tr
			td Last name:
			td
				input(type='text',name='user[last_name]',value=user.last_name)
		tr
			td Group:
			td
				xxx

	input(type='submit',value='Edit User')

	span(style='color:red; padding-left:8px;')
		#{error}

